# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc
swagger.json

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
Helpers.sql
stats.html
# System Files
.DS_Store
Thumbs.db
db.sqlite
.nx/cache
.nx/workspace-data

# environment variables
*.local.*
*.local

packages/api/config/local*
!packages/api/config/local.js-edfi
!packages/api/config/production.js-edfi

!*.copyme*

sandworm/

.env

vite.config.*.timestamp*
vitest.config.*.timestamp*
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

# certification - ignore the runtime folder where the downloaded artifact is extracted
packages/api/certification/bruno/*

test-results/
tests/api/test-results/

#e2e reports
test-results
playwright
tests/e2e/.features-gen

# ai auxiliary files, plans, specs, etc. that are not part of the source code
docs/superpowers
.worktrees/
